.icon-cbrc{
	background-image: url(../img/icon16/cbrc.png) !important;
	background-repeat: no-repeat;
}

.icon-pboc{
	background-image: url(../img/icon16/pboc.png) !important;
	background-repeat: no-repeat;
}

.icon-safe{
	background-image:url('../img/icon16/globe.png') !important;
	background-repeat: no-repeat;
}

.icon-inner{
	background-image: url(../img/icon16/coin-yuan.png) !important;
	background-repeat: no-repeat;
}

.icon-bsys{
	background-image: url(../img/icon16/bsys.png) !important;
	background-repeat: no-repeat;
}

.icon-qc0201{
	background-image: url(../img/icon16/folder-search1.png) !important;
	background-repeat: no-repeat;
}

.icon-myhome{
    background-image: url('../img/icon16/home.png') !important;
    background-repeat: no-repeat;
}

.icon-acc{
    background-image: url('../img/icon16/acc.png') !important;
    background-repeat: no-repeat;
}

.icon-bifrost{
    background-image: url('../img/icon16/bifrost.png') !important;
    background-repeat: no-repeat;
}

.icon-bop{
    background-image: url('../img/icon16/bop.png') !important;
    background-repeat: no-repeat;
}

.icon-cfa{
    background-image: url('../img/icon16/cfa.png') !important;
    background-repeat: no-repeat;
}

.icon-ckbx{
    background-image: url('../img/icon16/ckbx.png') !important;
    background-repeat: no-repeat;
}


.icon-cot{
    background-image: url('../img/icon16/cot.png') !important;
    background-repeat: no-repeat;
}

.icon-crs{
    background-image: url('../img/icon16/crs.png') !important;
    background-repeat: no-repeat;
}

.icon-cwd{
    background-image: url('../img/icon16/cwd.png') !important;
    background-repeat: no-repeat;
}

.icon-dis{
    background-image: url('../img/icon16/dis.png') !important;
    background-repeat: no-repeat;
}

.icon-dna{
    background-image: url('../img/icon16/dna.png') !important;
    background-repeat: no-repeat;
}

.icon-east2{
    background-image: url('../img/icon16/east2.png') !important;
    background-repeat: no-repeat;
}

.icon-east3{
    background-image: url('../img/icon16/east3.png') !important;
    background-repeat: no-repeat;
}

.icon-exd{
    background-image: url('../img/icon16/exd.png') !important;
    background-repeat: no-repeat;
}

.icon-f1104{
    background-image: url('../img/icon16/f1104.png') !important;
    background-repeat: no-repeat;
}

.icon-fal{
    background-image: url('../img/icon16/fal.png') !important;
    background-repeat: no-repeat;
}

.icon-found{
    background-image: url('../img/icon16/found.png') !important;
    background-repeat: no-repeat;
}

.icon-fsd{
    background-image: url('../img/icon16/fsd.png') !important;
    background-repeat: no-repeat;
}

.icon-grzh{
    background-image: url('../img/icon16/grzh.png') !important;
    background-repeat: no-repeat;
}

.icon-grzx{
    background-image: url('../img/icon16/grzx.png') !important;
    background-repeat: no-repeat;
}

.icon-hgyj{
    background-image: url('../img/icon16/hgyj.png') !important;
    background-repeat: no-repeat;
}

.icon-jrtj{
    background-image: url('../img/icon16/jrtj.png') !important;
    background-repeat: no-repeat;
}

.icon-jsh{
    background-image: url('../img/icon16/jrtj.png') !important;
    background-repeat: no-repeat;
}

.icon-jxkh{
    background-image: url('../img/icon16/jxkh.png') !important;
    background-repeat: no-repeat;
}

.icon-kjfx{
    background-image: url('../img/icon16/kjfx.png') !important;
    background-repeat: no-repeat;
}

.icon-ncds{
    background-image: url('../img/icon16/ncds.png') !important;
    background-repeat: no-repeat;
}

.icon-owl{
    background-image: url('../img/icon16/owl.png') !important;
    background-repeat: no-repeat;
}

.icon-pcb{
    background-image: url('../img/icon16/pcb.png') !important;
    background-repeat: no-repeat;
}

.icon-pcb2{
    background-image: url('../img/icon16/pcb.png') !important;
    background-repeat: no-repeat;
}

.icon-pisa{
    background-image: url('../img/icon16/pisa.png') !important;
    background-repeat: no-repeat;
}

.icon-q1104{
    background-image: url('../img/icon16/q1104.png') !important;
    background-repeat: no-repeat;
}

.icon-qyzx{
    background-image: url('../img/icon16/qyzx.png') !important;
    background-repeat: no-repeat;
}

.icon-r1104{
    background-image: url('../img/icon16/r1104.png') !important;
    background-repeat: no-repeat;
}

.icon-rate{
    background-image: url('../img/icon16/rate.png') !important;
    background-repeat: no-repeat;
}

.icon-rcpmis{
    background-image: url('../img/icon16/rcpmis.png') !important;
    background-repeat: no-repeat;
}

.icon-show{
    background-image: url('../img/icon16/show.png') !important;
    background-repeat: no-repeat;
}

.icon-wang{
    background-image: url('../img/icon16/wang.png') !important;
    background-repeat: no-repeat;
}

.icon-zjjc{
    background-image: url('../img/icon16/zjjc.png') !important;
    background-repeat: no-repeat;
}